body {
    margin: 0 auto;
    background-image: url('https://as2.ftcdn.net/jpg/02/12/20/39/1000_F_212203952_pNOXIjZcuR8ETfCZO7QFl7FQZTiHGPLw.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
}

h1 {
    font-family: cursive, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: calc(50vh - 2rem);
    color: #ffffff;
    backdrop-filter: blur(5px);
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#time {
    font-family: 'Courier New', monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}