body {
  background-image: url("https://c7.alamy.com/comp/M4WB3G/to-do-list-seamless-pattern-background-business-flat-vector-illustration-M4WB3G.jpg");
  background-attachment: fixed; /*or scroll*/
  background-size: contain; /*or cover*/
  background-position: center; /*or top center*/
  background-repeat: repeat; /*or repeat-x*/
/* We can replace the above with one property: background: url("https://c7.alamy.com/comp/M4WB3G/to-do-list-seamless-pattern-background-business-flat-vector-illustration-M4WB3G.jpg") center/contain repeat fixed; */
}

#container {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  /*Using the linearGradient transition Taking contrast between the colors and background into consideration*/
  background: linear-gradient(to right, rgb(253, 170, 42), white);
  /*Using the radius of 10px the container corners*/
  border-radius: 10px;
  border: 5px solid rgb(74, 74, 74);
  box-shadow: 0 0 10px;
}

a {
  text-decoration: none;
}

.sub-item-link:link {
  color: blue;
}

.sub-item-link:visited {
  color: purple;
}

.sub-item-link:hover {
  color: red;
}

.sub-item-link:focus {
  color: green;
  outline: orange;
}

.sub-item-link:active {
  color: black;
}

.todo-list {
  list-style: none;
}
.todo-list li {
  margin-bottom: 20px;
  background-color: #E5F1E5;
  border-radius: 10px;
  line-height: 1.6;
  padding: 10px;
  position: relative;
}
